---
import Icon from '../components/Icon.astro'

export interface Props {
    meta: Record<string, any>,
    url: string
}

const { url, meta } = Astro.props
---

<a class="top" href={url}>
    <div class="icon">
        <Icon s="64" emoji={meta.emoji}/>
    </div>
    <div class="content">
        <div>
            <h3>
                <span><Icon s="32" emoji={meta.emoji}/> — </span>
                {meta.title}
            </h3>
            <p>{meta.description}</p>
        </div>
        <div class="metadata">
            <div>
                {meta.author}
                <Icon emoji="👤" />
            </div>
            <div>
                {meta.pubDate}
                <Icon emoji="📆" />
            </div>
        </div>
    </div>
</a>

<style>
    .top {
        /* display */
        @apply flex items-center;
        /* size w x h */
        @apply max-w-2xl w-full;
        /* margin and padding */
        @apply mx-auto my-2 p-2;
        /* border */
        @apply border-2 rounded;
        border-color: hsl(33, 50%, 84%);
        /* text & bg color */
        @apply text-black;
        background-color: hsl(33, 80%, 94%);
    }

    .icon { /* hidden by default show if screen > sm */
        /* display */
        @apply hidden;
        /* margin and padding */
        @apply p-4 mx-4 my-2;
        /* border */
        @apply border-2 rounded-xl;
        border-color: hsl(33, 50%, 88%);
        /* text & bg color */
        background-color: hsl(33, 80%, 98%);
        /***~- breakpoint ~-***/
        @apply sm:block;
    }

    h3 > * {
        /***~- breakpoint ~-***/
        @apply sm:hidden;
    }

    .content {
        /* size w x h */
        @apply w-full;
    }

    .metadata {
        /* text */
        @apply text-right;
    }
</style>